Source: mot
Maintainer: Robbert Harms <robbert.harms@maastrichtuniversity.nl>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python3-setuptools, python-all (>= 2.6.6-3), python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/cbclab/MOT

Package: python-mot
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Maastricht Optimization Toolbox
 Maastricht Optimization Toolbox
 ===============================
 .
 .. image:: https://badge.fury.io/py/mot.png
     :target: http://badge.fury.io/py/mot
 .
 .
 A library for parallel optimization and sampling in python and opencl.
 .
 * Free software: LGPL v3 license
 * Full documentation: https://mot.readthedocs.org
 * Project home: https://github.com/cbclab/MOT
 * Uses the `GitLab workflow <https://docs.gitlab.com/ee/workflow/gitlab_flow.html>`_
 * Tags: optimization, parallel, opencl, python
 .
 Quick installation guide:
 .
 **Linux (Ubuntu)**
 .
 * ``apt-get install python3 python3-pip python3-pyopencl``

Package: python3-mot
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Maastricht Optimization Toolbox
 Maastricht Optimization Toolbox
 ===============================
 .
 .. image:: https://badge.fury.io/py/mot.png
     :target: http://badge.fury.io/py/mot
 .
 .
 A library for parallel optimization and sampling in python and opencl.
 .
 * Free software: LGPL v3 license
 * Full documentation: https://mot.readthedocs.org
 * Project home: https://github.com/cbclab/MOT
 * Uses the `GitLab workflow <https://docs.gitlab.com/ee/workflow/gitlab_flow.html>`_
 * Tags: optimization, parallel, opencl, python
 .
 Quick installation guide:
 .
 **Linux (Ubuntu)**
 .
 * ``apt-get install python3 python3-pip python3-pyopencl``

